<ng-container >
  <button (click)="handleRestGet()">Search</button>
  <app-table [rows]="users" [page]="page" [pageSize]="pageSize"
             [totalRows]="totalRows" [clientPagination]="false"
             (pageIndexChange)="this.page = $event; handleGet($event,pageSize)"
             (pageSizeChange)="this.pageSize=$event; this.page = 1; handleGet(page,$event)"
             [loading]="loading"
  >
    <ngvn-column header="ID" key="id" ></ngvn-column>
    <ngvn-column header="Name" key="name" [sortable]="true" (sortChange)="handleSort($event)"></ngvn-column>
    <ngvn-column header="Date" key="date" [dataType]="COL_DATA_TYPE.DATE">
      <ng-template appHeader>
        <strong><em>Created Date</em></strong>
      </ng-template>
    </ngvn-column>
  </app-table>
</ng-container>
